body{
    background-color: #b8faff;
    color: #0e8d94;
}

button{
    border-color: white;
    color: #0e8d94;
}
#res{
    font-size: 1.6rem;
    color: #0e8d94;
}
input{
    background-color: #0e8d94;
}